<!DOCTYPE html>
<html lang="en-us">
<head>
    <link rel="stylesheet" type="text/css" href="additional.css">
    <link rel="stylesheet" type="text/css" href="home.css">
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
     <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
     <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
      <main>
        <div class="row">
            <div class="col-sm-6">
               <h1 class = "center">News and Awesome Game Clips</h1>
            </div>
            <div class="col-sm-6">
                <h1 class="center2">Search Top Players and More</h1>
            </div>
        </div>
            <div class="row">
                <div class="col-sm-7">
                    <header class="move">
                        <p class="text">Tip! Very useful information if you want to win more games!</p>
                    <iframe width="600px" height= "350px" src="https://www.youtube.com/embed/vwum91sdbA8?controls=1">
                    </iframe>
                </header>
                <header class="move">
                    <p class="text">New Awesome Item and Some Cool Clips!</p>
                    <iframe width="600px" height= "350px" src="https://www.youtube.com/embed/AAEIfEpw6Jo?controls=1">
                    </iframe> 
                </header>
                <header class="move">
                    <p class="text">Funny Clips!</p>
                    <iframe width="600px" height="350px" src="https://www.youtube.com/embed/wQnu--ZwE5A?controls=1">
                    </iframe>
                </header>
            </div>
            <div class="col-sm-5">
                <div style="font-family: 'Luckiest Guy', cursive; background: black; width: 400px; opacity: 0.8; padding-left: 30px;">
                <h3 style = "color: #ff6600; ">Search for Stats</h3>
                <form action="/action_page.php">
                <input class = "bar"type="text" placeholder="Search..">
                 <button type="submit"><i class="fa fa-search"></i></button>
                </form>
                <hr>
                <h3 style="color: #ff6600;">Top of The Leaderboard</h3>
                <ul style="list-style-type: none; color: #b800e6">
                    <li>Ninja</li> <li>Myth</li> <li>Low_finesse</li> <li>Terry 5L - 2,803 wins</li>
                </ul>
            </div>
              </div>
    </main>


    <footer class="page-footer">
            <div class="container">
              <div class="row">
                <div class="col l6 s12">
                  <h5 class="white-text">Where To Contact Us</h5>
                  <p class="grey-text text-lighten-4">Social Links</p>
                </div>
                <div class="col l4 offset-l2 s12">
                  <h5 class="white-text"></h5>
                  <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Github</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="footer-copyright">
              <div class="container">
              © 2018 Tracz
              <a class="links" class="grey-text text-lighten-4 right" href="#!">More Links</a>
              </div>
            </div>
          </footer>

        
    
</body>
</html>