<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="home.css">
    <title>login</title>
</head>
<body>
        <h1 class = "form">Login</h1>

        <p class = "form">
          <input class = "bar" ng-model="user.username" placeholder="username"/></br>
          <input class = "bar" ng-model="user.password" type="password" placeholder="password"/></br>
          <button class = "bar" ng-click="login(user)" class="waves-effect waves-light btn">Login</button>
        </p>
</body>
</html>